<!DOCTYPE html>
<html>
<head>
    <title>GIPOD DEMO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google" value="notranslate" />
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
	  <div class="row">
	    <div class="col1">
	    	<div id="datepicker"></div>
	    	<br />
	    	<div class="input-group">
			  <input type="text" class="form-control" placeholder="Location" aria-label="Location" id="location-text" aria-describedby="update-location-btn">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button" id="update-location-btn">Update</button>
			  </div>
			</div>
			<br />
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Distance" aria-label="Distance" id="distance-text" aria-describedby="update-distance-btn">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button" id="update-distance-btn">Update</button>
			  </div>
			</div>
	    </div>
	    <div class="col">
	      	<a href="#" id="map" target="_blank">View map</a>
	      	<div id="services_count"></div>
	      	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Icon</th>
			      <th scope="col">Name</th>
			      <th scope="col">Description</th>
			    </tr>
			  </thead>
			  <tbody id="services">
			  </tbody>
			</table>
	    </div>
	  </div>
	</div>

    <script>
		$(function() {
			var d = new Date();
	    	var currentDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
			//var currentDate = "2019-6-27";
			var currentLocation = null;
			var currentDistance = null;
			var last_call = new Date().getTime();
			var item_count = 0;
			
			var setupDay = function() {
    	    	last_call = new Date().getTime();
    	    	item_count = 0;
    	    	$("#services").empty();
    	    	var search_criteria = {
       	    		mode: 'list',
       	    		start: currentDate,
       	    		last_call: last_call
       	    	};
    	    	var mapParams = {
    	    		mode: 'map',
    	    		start: currentDate,
    	    		zoom: 12
       	    	};
    	    	if (currentLocation !== null) {
    	    		search_criteria['lat'] = currentLocation.lat;
    	    		search_criteria['lon'] = currentLocation.lng;
    	    		
    	    		mapParams['lat'] = currentLocation.lat;
    	    		mapParams['lon'] = currentLocation.lng;
    	    	}
    	    	if (currentDistance === null) {
    	    		search_criteria['distance'] = 99999999;
    	    		mapParams['distance'] = 99999999;
    	    	} else {
    	    		search_criteria['distance'] = currentDistance;
    	    		mapParams['distance'] = currentDistance;
    	    	}
    	    	$('#map').text("View on map");
    	    	$('#map').attr("href", "https://oca-gipod.appspot.com/plugins/gipod/test?" + jQuery.param(mapParams));
    	    	
    	    	getItems(search_criteria);
			};
			
			var getItems = function(search_criteria, cursor) {
				if (search_criteria.last_call !== last_call)
	        		return;
				if (cursor)
	            	search_criteria['cursor'] = cursor;
				$.ajax({
	            	url: '/plugins/gipod/test',
	            	data: search_criteria,
	            	success: function (data) {
	            		if (search_criteria.last_call !== last_call)
	            			return;
	            		if (data.cursor)
	            			getItems(search_criteria, data.cursor);
	            		
	            		$.each(data.services, function (i,service) {
	            			item_count += 1;
	            			
	            			var tr = $('<tr></tr>');
	            			
	            			var th = $('<th scope="row"></th>');
	            			th.text(item_count);
	            			tr.append(th);
	            			
	            			var td1 = $('<td></td>');
	            			var img = $('<img src="#" alt="icon" height="32" width="32">');
	            			img.attr('src', service.icon);
	            			td1.append(img);
	            			td1.append('<br />');
	            			var a1 = $('<a href="#" target="_blank"></a>');
	            			a1.attr('href', service.links.map);
	            			a1.text('Map')
	            			td1.append(a1);
	            			td1.append('<br />');
	            			var a2 = $('<a href="#" target="_blank"></a>');
	            			a2.attr('href', service.links.gipod);
	            			a2.text('Gipod')
	            			td1.append(a2);
	            			tr.append(td1);
	            			
	            			var td2 = $('<td>2</td>');
	            			td2.text(service.name);
	            			tr.append(td2);
	            			
	            			var td3 = $('<td></td>');
	            			td3.text(service.description);
	            			tr.append(td3);
	            			
	                        $("#services").append(tr);
	            		});
	            		
	            		$('#services_count').text(item_count + ' services');
	            	},
	            	error: function () {
	            		if (console)
	            			console.log("An error occurred while loading data. Please reload your browser.");
	            	}
	            });	
			};
			
			var geoCode = function(address) {
				var search_criteria = {
       	    		mode: 'geo',
       	    		q: address
       	    	};
				$.ajax({
	            	url: '/plugins/gipod/test',
	            	data: search_criteria,
	            	success: function (data) {
	            		currentLocation = data;
	            		setupDay();
	            	},
	            	error: function () {
	            		if (console)
	            			console.log("An error occurred while loading data. Please reload your browser.");
	            	}
	            });	
			};
			
			
			var enableDays = ["7-7-2019"];
		    
		    function enableAllTheseDays(date) {
		    	return [true];
		        var sdate = $.datepicker.formatDate( 'd-m-yy', date)
		        if($.inArray(sdate, enableDays) != -1) {
		            return [true];
		        }
		        return [false];
		    };
			
        	$("#datepicker").datepicker({
        		dateFormat: 'dd-mm-yy',
        		//defaultDate: new Date(2019, 5, 27),
        		minDate: new Date(2019, 4, 25),
        		maxDate: "+1y +1m +1w",
        		beforeShowDay: enableAllTheseDays,
        		onSelect: function (dateText, inst) {
        	    	var d = inst.selectedYear + '-' + (inst.selectedMonth + 1) + '-' + inst.selectedDay;
        	    	currentDate = d;
        	    	setupDay();
        	    }
        	});
        	
        	$("#update-location-btn").click(function() {
        		var address = $("#location-text").val().trim();
        		if (address === "") {
        			currentLocation = null;
        			setupDay();
        		} else {
        			if (currentDistance === null) {
        				currentDistance = 5000;
        				$("#distance-text").val(currentDistance);
        	    	}
        			geoCode(address);
        		}
       		});
        	
        	$("#update-distance-btn").click(function() {
        		var distance = $("#distance-text").val().trim();
        		if (distance === "") {
        			currentDistance = null;
        			setupDay();
        		} else {
        			currentDistance = distance;
        			setupDay();
        		}
       		});
        	
        	setupDay();
      	});
    </script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
