<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>GIPOD</title>
	<style>
	html, body, #map-canvas {
	  height: 100%;
	  width: 100%;
	  margin: 0px;
	  padding: 0px
	}
	      
	</style>
</head>
<body>
	<div id="map-canvas"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=geometry"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
    $(function () {
    	var getParameterByName = function (name) {
    	    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    	    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    	};
    	
    	var htmlEncode = function (value) {
    		value = value.replace("\r", "");
    		var lines = value.split(/\n/);
    		var paragraphs = [];
    		$.each(lines, function (i, str) {
    			paragraphs.push($('<div/>').text(str).html());
    		});
    		return paragraphs.join('<br>');
    	};
    	
    	var lat_center = getParameterByName('lat');
    	var lon_center = getParameterByName('lon');
    	var center = lat_center && lon_center ? new google.maps.LatLng(parseFloat(lat_center), parseFloat(lon_center)) : new google.maps.LatLng(50.623211, 4.438007);
    	var zoom = parseInt(getParameterByName('zoom') || '8');
    	
        var mapOptions = {
        		zoom: zoom,
        		center: center
    	};
        var map = new google.maps.Map(document.getElementById('map-canvas'),  mapOptions);
        
        var app_id = getParameterByName("app_id") || null;
        var markers = {};
        var infoWindow = null;
        
        var last_call = new Date().getTime();
        
        var getSearchCriteria = function () {
        	last_call = new Date().getTime();
            var center = map.getCenter();
            var map_bounds = map.getBounds();
            var distance = google.maps.geometry.spherical.computeDistanceBetween(map_bounds.getNorthEast(), map_bounds.getSouthWest());
            var radius_in_km = Math.round(distance/2000,0) + 1;
            var params = {
    			lat: center.lat(),
    			lon: center.lng(),
    			distance: getParameterByName("distance") || 5000,//radius_in_km,
    			last_call: last_call,
    			mode: 'list',
    			start: getParameterByName("start")
            };
            if (app_id)
            	params['app_id'] = app_id;
            return params;
        };
        
        var getServices = function (search_criteria, cursor) {
        	if (search_criteria.last_call != last_call)
        		return;
            if (cursor)
            	search_criteria['cursor'] = cursor;
            $.ajax({
            	url: '/plugins/gipod/test',
            	data: search_criteria,
            	success: function (data) {
            		if (data.cursor && search_criteria.last_call == last_call)
            			getServices(search_criteria, data.cursor);
            		$.each(data.services, function (i,service) {
                		var marker = markers[service.hash];
                		if (!marker) {
                			var coords = new google.maps.LatLng(service.lat, service.lon);
                			marker = new google.maps.Marker({
                				position: coords,
                      	      	map: map,
                      	      	cursor: 'pointer',
                      	      	icon: service.icon
                      	  	});
                			markers[service.hash] = marker;
                			
                			google.maps.event.addListener(marker, 'click', function() {
                				if (infoWindow)
                					infoWindow.close()
                				infoWindow = new google.maps.InfoWindow({
                					content: '<div id="content">'+
                				      '<div id="siteNotice">'+
                				      '</div>'+
                				      '<h1 id="firstHeading" class="firstHeading">'+ htmlEncode(service.name) +'</h1>'+
                				      '<div id="bodyContent">'+
                				      '<p>'+ htmlEncode(service.description) +'</p>'+
                				      '<a href="' + service.details + '" target="_blank" >Details</a>'+
                				      '</div>'+
                				      '</div>'
                				});
                				google.maps.event.addListener(map, 'closeclick', function () {
                					infoWindow = null;
                			    });
                				infoWindow.open(map, marker);
                			});
                		}
            		});
            		
            	},
            	error: function () {
            		if (console)
            			console.log("An error occurred while loading data. Please reload your browser.");
            	}
            });
        };
        google.maps.event.addListener(map, 'bounds_changed', function () {
        	getServices(getSearchCriteria(), null);
        });
    });
    </script>
</body>
</html>